<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.DatasourceLocationFieldDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.DatasourceLocationField">
		INSERT INTO BI_DATASOURCE_LOCATION_FIELD (
		   	ID,
		   	BOARD_ID,
		   	REPORT_ID,
		   	FIELD_CODE,
		   	FIELD_LABEL,
		   	FIELD_DATATYPE,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{boardId,jdbcType=BIGINT},
		   	#{reportId,jdbcType=BIGINT},
		   	#{fieldCode,jdbcType=VARCHAR},
		   	#{fieldLabel,jdbcType=VARCHAR},
		   	#{fieldDatatype,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_BI_DATASOURCE_LOCATION_FIELD.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.DatasourceLocationField">
		UPDATE BI_DATASOURCE_LOCATION_FIELD
		<set>
			<if test="boardId != null">
				BOARD_ID = #{boardId,jdbcType=BIGINT},
			</if>
			<if test="reportId != null">
				REPORT_ID = #{reportId,jdbcType=BIGINT},
			</if>
			<if test="fieldCode != null">
				FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
			</if>
			<if test="fieldLabel != null">
				FIELD_LABEL = #{fieldLabel,jdbcType=VARCHAR},
			</if>
			<if test="fieldDatatype != null">
				FIELD_DATATYPE = #{fieldDatatype,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.DatasourceLocationField">
		UPDATE BI_DATASOURCE_LOCATION_FIELD
		<set>
			BOARD_ID = #{boardId,jdbcType=BIGINT},
			REPORT_ID = #{reportId,jdbcType=BIGINT},
			FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
			FIELD_LABEL = #{fieldLabel,jdbcType=VARCHAR},
			FIELD_DATATYPE = #{fieldDatatype,jdbcType=VARCHAR},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.DatasourceLocationField">
		UPDATE BI_DATASOURCE_LOCATION_FIELD
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       BOARD_ID boardId,
		       REPORT_ID reportId,
		       FIELD_CODE fieldCode,
		       FIELD_LABEL fieldLabel,
		       FIELD_DATATYPE fieldDatatype,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.DatasourceLocationField">
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.DatasourceLocationField" resultType="com.zhiyun.entity.DatasourceLocationField">
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="boardId != null">
				AND BOARD_ID = #{boardId,jdbcType=BIGINT}
			</if>
			<if test="reportId != null">
				AND REPORT_ID = #{reportId,jdbcType=BIGINT}
			</if>
			<if test="fieldCode != null and fieldCode != ''">
				AND FIELD_CODE = #{fieldCode,jdbcType=VARCHAR}
			</if>
			<if test="fieldLabel != null and fieldLabel != ''">
				AND FIELD_LABEL = #{fieldLabel,jdbcType=VARCHAR}
			</if>
			<if test="fieldDatatype != null and fieldDatatype != ''">
				AND FIELD_DATATYPE = #{fieldDatatype,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.DatasourceLocationField">
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.boardId != null">
					AND BOARD_ID = #{entity.boardId,jdbcType=BIGINT}
				</if>
				<if test="entity.reportId != null">
					AND REPORT_ID = #{entity.reportId,jdbcType=BIGINT}
				</if>
				<if test="entity.fieldCode != null and entity.fieldCode != ''">
					AND FIELD_CODE = #{entity.fieldCode,jdbcType=VARCHAR}
				</if>
				<if test="entity.fieldLabel != null and entity.fieldLabel != ''">
					AND FIELD_LABEL = #{entity.fieldLabel,jdbcType=VARCHAR}
				</if>
				<if test="entity.fieldDatatype != null and entity.fieldDatatype != ''">
					AND FIELD_DATATYPE = #{entity.fieldDatatype,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM BI_DATASOURCE_LOCATION_FIELD
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.DatasourceLocationField">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM BI_DATASOURCE_LOCATION_FIELD
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="boardId != null">
				AND BOARD_ID = #{boardId,jdbcType=BIGINT}
			</if>
			<if test="reportId != null">
				AND REPORT_ID = #{reportId,jdbcType=BIGINT}
			</if>
			<if test="fieldCode != null and fieldCode != ''">
				AND FIELD_CODE = #{fieldCode,jdbcType=VARCHAR}
			</if>
			<if test="fieldLabel != null and fieldLabel != ''">
				AND FIELD_LABEL = #{fieldLabel,jdbcType=VARCHAR}
			</if>
			<if test="fieldDatatype != null and fieldDatatype != ''">
				AND FIELD_DATATYPE = #{fieldDatatype,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO BI_DATASOURCE_LOCATION_FIELD (
		   	ID,
		   	BOARD_ID,
		   	REPORT_ID,
		   	FIELD_CODE,
		   	FIELD_LABEL,
		   	FIELD_DATATYPE,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ boardId,jdbcType=BIGINT},
		   	#{ reportId,jdbcType=BIGINT},
		   	#{ fieldCode,jdbcType=VARCHAR},
		   	#{ fieldLabel,jdbcType=VARCHAR},
		   	#{ fieldDatatype,jdbcType=VARCHAR},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_BI_DATASOURCE_LOCATION_FIELD.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE BI_DATASOURCE_LOCATION_FIELD
		<set>
			<if test="boardId != null">
				BOARD_ID = #{boardId,jdbcType=BIGINT},
			</if>
			<if test="reportId != null">
				REPORT_ID = #{reportId,jdbcType=BIGINT},
			</if>
			<if test="fieldCode != null">
				FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
			</if>
			<if test="fieldLabel != null">
				FIELD_LABEL = #{fieldLabel,jdbcType=VARCHAR},
			</if>
			<if test="fieldDatatype != null">
				FIELD_DATATYPE = #{fieldDatatype,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
