<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.LinkageDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.Linkage">
		INSERT INTO BI_LINKAGE (
		   	ID,
		   	BOARD_ID,
		   	FROM_ID,
		   	FROM_NAME,
		   	TO_ID,
		   	TO_NAME,
		   	LINK_PARAM,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{boardId,jdbcType=BIGINT},
		   	#{fromId,jdbcType=VARCHAR},
		   	#{fromName,jdbcType=VARCHAR},
		   	#{toId,jdbcType=VARCHAR},
		   	#{toName,jdbcType=VARCHAR},
		   	#{linkParam,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_BI_LINKAGE.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.Linkage">
		UPDATE BI_LINKAGE
		<set>
			<if test="boardId != null">
				BOARD_ID = #{boardId,jdbcType=BIGINT},
			</if>
			<if test="fromId != null">
				FROM_ID = #{fromId,jdbcType=VARCHAR},
			</if>
			<if test="fromName != null">
				FROM_NAME = #{fromName,jdbcType=VARCHAR},
			</if>
			<if test="toId != null">
				TO_ID = #{toId,jdbcType=VARCHAR},
			</if>
			<if test="toName != null">
				TO_NAME = #{toName,jdbcType=VARCHAR},
			</if>
			<if test="linkParam != null">
				LINK_PARAM = #{linkParam,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.Linkage">
		UPDATE BI_LINKAGE
		<set>
			BOARD_ID = #{boardId,jdbcType=BIGINT},
			FROM_ID = #{fromId,jdbcType=VARCHAR},
			FROM_NAME = #{fromName,jdbcType=VARCHAR},
			TO_ID = #{toId,jdbcType=VARCHAR},
			TO_NAME = #{toName,jdbcType=VARCHAR},
			LINK_PARAM = #{linkParam,jdbcType=VARCHAR},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.Linkage">
		UPDATE BI_LINKAGE
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       BOARD_ID boardId,
		       FROM_ID fromId,
		       FROM_NAME fromName,
		       TO_ID toId,
		       TO_NAME toName,
		       LINK_PARAM linkParam,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.Linkage">
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.Linkage" resultType="com.zhiyun.entity.Linkage">
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="boardId != null">
				AND BOARD_ID = #{boardId,jdbcType=BIGINT}
			</if>
			<if test="fromId != null and fromId != ''">
				AND FROM_ID = #{fromId,jdbcType=VARCHAR}
			</if>
			<if test="fromName != null and fromName != ''">
				AND FROM_NAME = #{fromName,jdbcType=VARCHAR}
			</if>
			<if test="toId != null and toId != ''">
				AND TO_ID = #{toId,jdbcType=VARCHAR}
			</if>
			<if test="toName != null and toName != ''">
				AND TO_NAME = #{toName,jdbcType=VARCHAR}
			</if>
			<if test="linkParam != null and linkParam != ''">
				AND LINK_PARAM = #{linkParam,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.Linkage">
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.boardId != null">
					AND BOARD_ID = #{entity.boardId,jdbcType=BIGINT}
				</if>
				<if test="entity.fromId != null and entity.fromId != ''">
					AND FROM_ID = #{entity.fromId,jdbcType=VARCHAR}
				</if>
				<if test="entity.fromName != null and entity.fromName != ''">
					AND FROM_NAME = #{entity.fromName,jdbcType=VARCHAR}
				</if>
				<if test="entity.toId != null and entity.toId != ''">
					AND TO_ID = #{entity.toId,jdbcType=VARCHAR}
				</if>
				<if test="entity.toName != null and entity.toName != ''">
					AND TO_NAME = #{entity.toName,jdbcType=VARCHAR}
				</if>
				<if test="entity.linkParam != null and entity.linkParam != ''">
					AND LINK_PARAM = #{entity.linkParam,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM BI_LINKAGE
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.Linkage">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM BI_LINKAGE
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="boardId != null">
				AND BOARD_ID = #{boardId,jdbcType=BIGINT}
			</if>
			<if test="fromId != null and fromId != ''">
				AND FROM_ID = #{fromId,jdbcType=VARCHAR}
			</if>
			<if test="fromName != null and fromName != ''">
				AND FROM_NAME = #{fromName,jdbcType=VARCHAR}
			</if>
			<if test="toId != null and toId != ''">
				AND TO_ID = #{toId,jdbcType=VARCHAR}
			</if>
			<if test="toName != null and toName != ''">
				AND TO_NAME = #{toName,jdbcType=VARCHAR}
			</if>
			<if test="linkParam != null and linkParam != ''">
				AND LINK_PARAM = #{linkParam,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO BI_LINKAGE (
		   	ID,
		   	BOARD_ID,
		   	FROM_ID,
		   	FROM_NAME,
		   	TO_ID,
		   	TO_NAME,
		   	LINK_PARAM,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ boardId,jdbcType=BIGINT},
		   	#{ fromId,jdbcType=VARCHAR},
		   	#{ fromName,jdbcType=VARCHAR},
		   	#{ toId,jdbcType=VARCHAR},
		   	#{ toName,jdbcType=VARCHAR},
		   	#{ linkParam,jdbcType=VARCHAR},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_BI_LINKAGE.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE BI_LINKAGE
		<set>
			<if test="boardId != null">
				BOARD_ID = #{boardId,jdbcType=BIGINT},
			</if>
			<if test="fromId != null">
				FROM_ID = #{fromId,jdbcType=VARCHAR},
			</if>
			<if test="fromName != null">
				FROM_NAME = #{fromName,jdbcType=VARCHAR},
			</if>
			<if test="toId != null">
				TO_ID = #{toId,jdbcType=VARCHAR},
			</if>
			<if test="toName != null">
				TO_NAME = #{toName,jdbcType=VARCHAR},
			</if>
			<if test="linkParam != null">
				LINK_PARAM = #{linkParam,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
